# Node
node_modules/

# Env
.env
*.env
tests/config/settings/profiles.yaml
tests/config/settings/sheet.yaml

# Dist / build outputs
dist/
build/

# Jest / Coverage
coverage/
.jest/

# OS junk
.DS_Store
Thumbs.db

# TypeScript build cache
*.tsbuildinfo

# IDE
.vscode/
